::placeholder {
    color: white;
}

.wd-bg-color-dark-gray {
    background-color: #3f3e3e;
}

.wd-fg-color-blue {
    color: rgb(29,161,242);
}

.wd-pos-absolute-right-offset {
    position: absolute;
    right: 12px;
}

.wd-rounded-corners-all-around {
    border-radius: 20px;
}

.wd-resized-textbox {
    width: 85%;
    margin-right: 10%;
}

.wd-nav-tabs {
    width: 100%;
    padding: 0px;
    color: rgb(110,118,125);
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    padding: 16px;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29,161,242);
    color: rgb(29,161,242);
    padding-bottom: 16px;
}

.wd-suggested-post > h1 {
    font-size: 15px;
    color: white;
}

.wd-suggested-post > span {
    color: rgb(110,118,125);
    font-size: 13px;
    display: inline;
}

.wd-suggested-post > h3 {
    font-size: 13px;
    color: white;
    display: inline;
}

.wd-suggested-post > img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    float: right;
    object-fit: cover;
    margin-right: 16px;
    margin-left: 16px;
}

/* https://css-tricks.com/snippets/css/clear-fix/ */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.wd-search-tuiter {
    bottom: 10px;
    left: 10px;
}

.wd-circle-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.fa-stack.wd-width-more {
    margin-left: 4px;
    width: 24px;
}