.wd-circle-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.wd-rounded-20 {
    border-radius: 20px;
}

.wd-rounded-corners-top {
    border-radius: 20px 20px 0px 0px;
}

.wd-nudge-up {
    bottom: 0.5px;
}

.wd-nudge-down {
    left: 2px;
    top: 3px;
}